[package]
name = "soroban-workspace-contract-b"
version.workspace = true
edition = "2021"
publish = false
rust-version = "1.85.0"

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
soroban-workspace-contract-a-interface = { workspace = true }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
soroban-workspace-contract-a-interface = { workspace = true }
soroban-workspace-contract-a = { workspace = true }
